@font-face {
  font-family: Nickainley;
  src: url("./Nickainley-Normal.otf") format("opentype");
}

html {
  font-size: 18px;
  color: #381460;
}

body {
  background: #ffa500;
  font-family: "Asap", sans-serif;
  margin: 0;
  line-height: 1.8;
}

.bod {
  display: grid;
  grid-area: bod;
  padding-top: 10vh;
  padding-bottom: 50px;
}

.nav-section {
  display: grid;
  grid-template-columns: 18vw;
  grid-template-rows: 33vh 33vh 33vh;
  position: fixed;
  background: #fefefa;
  height: 100%;
}

.page {
  display: grid;
  grid-gap: 10vw;
  grid-template-columns: 15vw 55vw;
  grid-template-areas: nav-section bod;
}

nav {
  font-family: "Asap", sans-serif;
  padding-top: 10%;
  line-height: 2;
  margin-left: 10%;
}

a {
  text-decoration: none;
}

p {
  color: #381460;
  padding-bottom: 10vh;
}

.photo {
  width: 60%;
  margin: auto;
}

h1 {
  font-family: Nickainley;
  font-size: 50px;
}

h2,
h3,
h4 {
  font-size: 25px;
}

.section {
  opacity: 0;
  padding-bottom: 30vh;
}

.line {
  border-bottom: 5px solid #fefefa;
  width: 300px;
}

.about {
  opacity: 0;
}

.blurb {
  display: none;
}

.header {
  opacity: 0;
}
