@font-face {
  font-family: Nickainley;
  src: url("./assets/Nickainley-Normal.otf") format("opentype");
}

html {
  font-size: 18px;
  color: #381460;
}

body {
  background: #fefefa;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  line-height: 1.8;
  color: #381460;
}

.section {
  opacity: 0;
}

.active {
  color: green;
}

.bod {
  display: grid;
  grid-area: bod;
  padding-top: 10vh;
  padding-bottom: 50px;
}

.nav-section {
  display: grid;
  grid-template-columns: 18vw;
  grid-template-rows: 33vh 33vh 33vh;
  position: fixed;
  background: #fefefa;
  height: 100%;
}

.page {
  display: grid;
  grid-gap: 10vw;
  grid-template-columns: 15vw 55vw;
  grid-template-areas: nav-section bod;
}

nav {
  font-family: "Asap", sans-serif;
  font-weight: 700;
  padding-top: 10%;
  margin-left: 10%;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  pointer-events: auto;
  margin-bottom: -15px;
}

a:visited {
  color: #381460;
}

a:hover {
  color: #b21f66;
}

p + ul {
  margin-top: -10vh;
  display: inline-block;
}

.photo {
  width: 60%;
  margin: auto;
}

h1 {
  font-family: "Asap";
  font-size: 50px;
}

h2 {
  font-family: "Asap";
  font-size: 30px;
}

h3,
h4 {
  font-size: 22px;
  color: #381460;
}

h3.skills-heading {
  text-decoration: underline;
  cursor: pointer;
  pointer-events: auto;
}

h3.skills-heading:before {
  content: "\25BA";
  color: #03a090;
  padding-right: 1ch;
  display: inline-block;
}

h3.expanded:before {
  content: "\25BC";
}

.line {
  border-bottom: 5px solid #a07dcf;
  width: 300px;
}

.blurb {
  display: none;
  padding-bottom: 10vh;
}

.experience {
  list-style-type: none;
}

.experience ul {
  list-style-type: disc;
}

ul {
  padding-bottom: 1em;
}

button + ul {
  padding-left: 6ch;
}

.info {
  display: none;
}

button {
  background-color: #fefefa;
  border: none;
  font-family: "WorkSans", sans-serif;
  cursor: pointer;
  pointer-events: auto;
}

.card {
  box-shadow: -4px -4px 20px 0 #949494;
  border-radius: 5px;
  margin: 50px 0 70px 0;
  padding: 40px 40px 10px 40px;
}

.card > p {
  width: 450px;
  text-align: justify;
}

.budding-demo-card {
  box-shadow: -4px -4px 20px 0 #949494;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  left: 520px;
  top: 215px;
  width: 25vw;
  height: 40%;
  background-color: #fefefa;
}

.container {
  position: relative;
  z-index: 1;
}

div > section {
  margin-top: 15vh;
  margin-bottom: 15vh;
}

ul.project-tech li {
  display: inline;
  font-size: 20px;
}

ul.project-tech {
  margin-top: -25px;
  margin-left: -40px;
}

div.project-links > a {
  display: inline-block;
  padding: 15px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
}

.project-links {
  text-align: center;
}

.nc-news-demo-card {
  box-shadow: -4px -4px 20px 0 #949494;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  left: 520px;
  top: 100px;
  width: 25vw;
  height: 80%;
  background-color: #fefefa;
}
